<wicket:panel>
<table class="table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th><wicket:message key="date"/></th>
			<th colspan='3'><wicket:message key="teams"/></th>
			<th><wicket:message key="score"/></th>
		</tr>
	</thead>
	<tbody>
		<tr wicket:id="games">
			<td><a wicket:id="gameLink"><span wicket:id="date"></span></a></td>
			<td wicket:id="winner"></td>
			<td><wicket:message key="vs"/></td>
			<td wicket:id="loser"></td>
			<td wicket:id="score"></td>
		</tr>
	</tbody>
</table>
</wicket:panel>
