<wicket:panel>
<table class="table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th><wicket:message key="player"/></th>
			<th><wicket:message key="games"/></th>
			<th><wicket:message key="winRatio"/></th>
			<th><wicket:message key="rating"/></th>
			<th><wicket:message key="trend"/></th>
		</tr>
	</thead>
	<tbody>
		<tr wicket:id="players">
			<td wicket:id="number"></td>
			<td wicket:id="name"></td>
			<td wicket:id="gamesCount"></td>
			<td wicket:id="winRatio"></td>
			<td wicket:id="rating"></td>
			<td wicket:id="trend"></td>
		</tr>
	</tbody>
</table>
</wicket:panel>
