<wicket:panel>
<table>
	<thead>
		<tr>
			<th><wicket:message key="player"/></th>
			<th><wicket:message key="games"/></th>
			<th><wicket:message key="won"/></th>
			<th><wicket:message key="lost"/></th>
			<th><wicket:message key="winRatio"/></th>
			<th><wicket:message key="rating"/></th>
		</tr>
	</thead>
	<tbody>
		<tr wicket:id="players">
			<td wicket:id="name"></td>
			<td wicket:id="gamesCount"></td>
			<td wicket:id="gamesWon"></td>
			<td wicket:id="gamesLost"></td>
			<td wicket:id="winRatio"></td>
			<td wicket:id="rating"></td>
		</tr>
	</tbody>
</table>
</wicket:panel>
