<h1>{{league.name}}</h1>

<div class="row">
	<div class="span11">
		<div id="gamegraph" style="width:100%"></div>
	</div>
</div>

<div class="row-fluid">
	<div class="span7">
		<h2>Played Games</h2>
		<div gamelist load-games="allGames(callback)" location="#/daily/{{league.id}}" current-page="currentPage"></div>
	</div>
	<div class="span5">
		<h2>Players by Rating</h2>
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th class="align-right">#</th>
					<th>Player</th>
					<th>Games</th>
					<th>Win ratio</th>
					<th>Rating</th>
					<th>Trend</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="player in players">
					<td style="text-align: right"><i data-ng-class="player.medal"></i> {{$index+1}}</td>
					<td><a data-ng-href="#/players/{{player.id}}">{{player.name}}</a></td>
					<td>{{player.gamesWon + player.gamesLost}}</td>
					<td><div bs-tooltip="('Won: '+player.gamesWon+' Lost: '+player.gamesLost)" data-placement="top">{{player.gamesWon / (player.gamesWon+player.gamesLost) * 100 | number:0}}%</div></td>
					<td>{{player.rating | number:0}}</td>
					<td><div bs-popover="'/partials/playergamespopover.html'" data-title="Trend" data-trigger="hover" data-placement="left"><i data-ng-repeat="result in player.trend | limitTo:5 track by $index" data-ng-class="result"></i></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
