<h1>Players</h1>

<p>
	<a href="#/addplayer" class="btn"><i class="icon-plus"></i> Add New Player</a>
</p>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Full Name</th>
        <th>Group Name</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="player in players | orderBy:'name'">
        <td class="nopad"><a data-ng-href="#/players/{{player.id}}">{{player.name}}</a></td>
        <td>{{player.fullName}}</td>
        <td>{{player.groupName}}</td>
    </tr>
    </tbody>
</table>
