<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.frankbille.scoreboard.dao.mybatis.GameMapper">
	<insert id="insertGame" parameterType="dk.frankbille.scoreboard.domain.Game" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			game
		(
			date
		)
		VALUES
		(
			#{date}
		)
	</insert>

	<update id="updateGame" parameterType="dk.frankbille.scoreboard.domain.Game">
		UPDATE
			game
		SET
			date = #{date}
		WHERE
			id = #{id}
	</update>

	<select id="getAllGames" resultMap="GameWithDetails">
		SELECT
			game.id AS gameId,
			game.date AS gameDate,
			game_team.id AS gameTeamId,
			game_team.score AS gameTeamScore,
			team.id AS teamId,
			team.name AS teamName,
			player.id AS playerId,
			player.name AS playerName,
			player.full_name AS playerFullName,
			player.group_name AS playerGroupName
		FROM
			game
			LEFT JOIN
			game_team ON game.id=game_team.game_id
			LEFT JOIN
			team ON game_team.team_id=team.id
			LEFT JOIN
			team_players ON team.id=team_players.team_id
			LEFT JOIN
			player ON team_players.player_id=player.id
	</select>

	<resultMap id="GameWithDetails" type="dk.frankbille.scoreboard.domain.Game">
		<id property="id" column="gameId" />
		<result property="date" column="gameDate" jdbcType="DATE" />
		<collection property="teams" column="gameId"
			ofType="dk.frankbille.scoreboard.domain.GameTeam" javaType="ArrayList"
			resultMap="GameTeamWithDetails" />
	</resultMap>

	<resultMap id="GameTeamWithDetails" type="dk.frankbille.scoreboard.domain.GameTeam">
		<id property="id" column="gameTeamId"/>
		<result property="score" column="gameTeamScore"/>
		<association property="team" resultMap="TeamWithDetails"/>
	</resultMap>

	<resultMap id="TeamWithDetails" type="dk.frankbille.scoreboard.domain.Team">
		<id property="id" column="teamId"/>
		<result property="name" column="teamName"/>
		<collection property="players" column="teamId"
			ofType="dk.frankbille.scoreboard.domain.Player" javaType="ArrayList"
			resultMap="Player" />
	</resultMap>

	<resultMap id="Player" type="dk.frankbille.scoreboard.domain.Player">
		<id property="id" column="playerId"/>
		<result property="name" column="playerName"/>
		<result property="fullName" column="playerFullName"/>
		<result property="groupName" column="playerGroupName"/>
	</resultMap>
</mapper>