<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.frankbille.scoreboard.dao.mybatis.PlayerMapper">
	<insert id="insertPlayer" parameterType="dk.frankbille.scoreboard.domain.Player" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			player
		(
			name,
			full_name,
			group_name
		)
		VALUES
		(
			#{name},
			#{fullName},
			#{groupName}
		)
	</insert>

	<update id="updatePlayer" parameterType="dk.frankbille.scoreboard.domain.Player">
		UPDATE
			player
		SET
			name = #{name},
			full_name = #{fullName},
			group_name = #{groupName}
		WHERE
			id = #{id}
	</update>

	<select id="getPlayers" resultType="dk.frankbille.scoreboard.domain.Player">
		SELECT
			id,
			name,
			full_name AS fullName,
			group_name AS groupName
		FROM
			player
		ORDER BY
			name
	</select>

	<select id="getPlayer" resultType="dk.frankbille.scoreboard.domain.Player" parameterType="java.lang.Long">
		SELECT
			id,
			name,
			full_name AS fullName,
			group_name AS groupName
		FROM
			player
		WHERE
			id = #{playerId}
	</select>
</mapper>
