<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.frankbille.scoreboard.dao.mybatis.UserMapper">
	<insert id="insertUser" parameterType="dk.frankbille.scoreboard.domain.User">
		INSERT INTO
			systemuser
		(
			username,
			password
		)
		VALUES
		(
			#{user.username},
			#{password}
		)
	</insert>

	<update id="updateUser" parameterType="dk.frankbille.scoreboard.domain.User">
		UPDATE
			systemuser
		SET
			player_id = #{player.id}
		WHERE
			username = #{username}
	</update>

	<select id="getUserWithUsername" resultMap="User">
		SELECT
			username,
			player.id AS playerId,
			player.name AS playerName,
			player.full_name AS playerFullName,
			player.group_name AS playerGroupName
		FROM
			systemuser
			LEFT JOIN
			player ON systemuser.player_id=player.id
		WHERE
			username = #{username}
	</select>

	<select id="getUserForPlayer" resultMap="User">
		SELECT
			username,
			player.id AS playerId,
			player.name AS playerName,
			player.full_name AS playerFullName,
			player.group_name AS playerGroupName
		FROM
			systemuser
			LEFT JOIN
			player ON systemuser.player_id=player.id
		WHERE
			player_id = #{id}
	</select>

	<select id="authenticate" resultMap="User">
		SELECT
			username,
			player.id AS playerId,
			player.name AS playerName,
			player.full_name AS playerFullName,
			player.group_name AS playerGroupName
		FROM
			systemuser
			LEFT JOIN
			player ON systemuser.player_id=player.id
		WHERE
			username = #{username}
			AND
			password = #{password}
	</select>

	<resultMap id="User" type="dk.frankbille.scoreboard.domain.User">
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<association property="player" resultMap="Player"/>
	</resultMap>

	<resultMap id="Player" type="dk.frankbille.scoreboard.domain.Player">
		<id property="id" column="playerId"/>
		<result property="name" column="playerName"/>
		<result property="fullName" column="playerFullName"/>
		<result property="groupName" column="playerGroupName"/>
	</resultMap>
</mapper>
