body {
	padding-top: 60px;
}

.pagination a {
	cursor: pointer;
}

.nowrap {
	white-space: nowrap;
}

.gameteam-plus-true {
	display: none;
}

.gold {
	color: #C98910;
}

.silver {
	color: #A8A8A8;
}

.bronze {
	color: #965A38;
}
