<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Import Old Version</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <form action="{{.}}" enctype="multipart/form-data" method="POST">
            <fieldset>
                <legend>Import Old Data</legend>
                <p>
                    <label>MySQL XML Dump</label>
                    <input type="file" placeholder="MySQL XML Dump File" name="xmlDumpFile">
                </p>
                <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>