html, body {
	margin: 0;
}

body, table {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
}

body {
	background: #FCEBB6 url(../images/background.png);
}

a {
	color: #F07818;
}

a.highlighted {
	font-weight: bold;
}

h1, h2, h3 {
	font-family: 'Podkova', serif;
}

ul.nolist {
	padding: 0;
	list-style: none;
}

#outer {
	background-color: white;
	opacity: 0.98;
	margin: 2em;
	border-radius: 0.8em;
	border-top-left-radius: 1em;
	box-shadow: 0 0.5em 1em black;
}

#inner {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	clear: both;
}

#menu ul {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #5E412F;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	box-shadow: 0 0.1em 1em #5E412F;
}

#menu li {
	float: left;
}

#menu li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	color: #FCEBB6;
	border-right: 1px solid #E2D1C5;
}

#menu li a span {
	border: 0;
}

#menu li.active a {
	color: #5E412F;
	background-color: #FCEBB6;
	text-decoration: underline;
}

#menu li.active:first-child a {
	border-top-left-radius: 0.8em;
}

#menu li:first-child a:hover {
	border-top-left-radius: 0.8em;
}

#menu li a:hover {
	color: #5E412F;
	background-color: #FCEBB6;
	text-decoration: none;
}

#menu li a:hover span {
	border: 0;
}

#footer {
	padding-left: 2em;
	color: white;
	font-family: 'Podkova', serif;
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 2em;
	text-shadow: black 0 0.2em 0.5em;
}

#footer a {
	display: inline;
	color: white;
	text-decoration: underline;
}

.gamedetails .team {
	float: left;
}

.gamedetails .team ul {
	margin: 0;
	padding: 0;
}

.gamedetails .team ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gamedetails .buttons {
	clear: both;
}

table {
	border-spacing: 0;
	border-top: 1px solid #E2D1C5;
	border-right: 1px solid #E2D1C5;
}

table th, table td {
	padding: 0.8em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-left: 1px solid #E2D1C5;
	border-bottom: 1px solid #E2D1C5;
}

table thead th {
	text-align: left;
	background-color: #FCEBB6;
}

table tbody tr.even td {
	background-color: #FEF8E7;
}

table tbody tr.highlighted td {
	font-weight: bold;
}

table tbody td.nopad {
	padding: 0;
}

.games {
	float: left;
	margin-right: 2em;
}

.breaker {
	clear: both;
}
