html, body {
	margin: 0;
}

body, table {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
}

body {
	background: #FCEBB6 url(../images/background.png);
}

h1, h2, h3 {
	font-family: 'Podkova', serif;
}

#outer {
	background-color: white;
	opacity: 0.98;
	margin: 2em;
	border-radius: 0.8em;
	border-top-left-radius: 1em;
	box-shadow: 0 0.5em 1em black;
}

#inner {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	clear: both;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 3em;
	background-color: #5E412F;
}

#menu ul li {
	float: left;
}

#menu ul li a {
	font-family: 'Podkova', serif;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.3em;
	color: #FCEBB6;
	text-decoration: none;
	background-color: #5E412F;
	display: block;
	height: 3em;
	padding: 0;
	border-right: 1px solid #E2D1C5;
	box-shadow: 0.1em 0.1em 1em #5E412F;
}

#menu ul li:FIRST-CHILD a {
	border-top-left-radius: 0.8em;
}

#menu ul li.last a {
	border-bottom-right-radius: 0.8em;
	border-right: 0;
}

#menu ul li a:HOVER {
	color: #5E412F;
	background-color: #FCEBB6;
}

#footer {
	padding-left: 2em;
	color: white;
	font-family: 'Podkova', serif;
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 2em;
	text-shadow: black 0 0.2em 0.5em;
}

#footer a {
	color: white;
}

.gamedetails .team {
	float: left;
}

.gamedetails .team ul {
	margin: 0;
	padding: 0;
}

.gamedetails .team ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gamedetails .buttons {
	clear: both;
}

table {
	border-spacing: 0;
	border-top: 1px solid #E2D1C5;
	border-right: 1px solid #E2D1C5;
}

table th, table td {
	padding: 0.8em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-left: 1px solid #E2D1C5;
	border-bottom: 1px solid #E2D1C5;
}

table thead th {
	text-align: left;
	background-color: #FCEBB6;
}

table tbody tr.even td {
	background-color: #FEF8E7;
}
